* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: rgb(150, 224, 246);

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

#status {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #444;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 8px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;

    background: white;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 42px;
    font-weight: bold;

    cursor: pointer;

    box-shadow: 0 4px 10px rgba(0,0,0,0.15);

    transition: 0.3s;
}

.cell:hover {
    background-color: #e6e6e6;
    transform: scale(1.05);
}

button {
    padding: 12px 24px;
    font-size: 16px;

    border: none;

    border-radius: 8px;

    background-color: #667eea;

    color: white;

    cursor: pointer;

    transition: 0.3s;
}

.winner {
    background-color: #90EE90;
}

.modal {
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content{

    background:white;

    padding:30px;

    border-radius:15px;

    text-align:center;

    display:flex;

    flex-direction:column;

    gap:15px;

}